@import '@fontsource/fira-mono';

:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-text: rgba(0, 0, 0, 0.7);
	--color-text-dark: rgba(0, 0, 0, 0.9);
	font-family: var(--font-body);
	color: var(--color-text);
	--color-primary: rgb(184, 128, 120);
}

::selection {
	background-color: var(--color-primary);
	color: rgb(239, 239, 239);
}

.text-dark {
	color: var(--color-text-dark);
}

a.link {
	position: relative;
	text-decoration: none;
	transition: color 0.2s linear;
	color: var(--color-text);
	font-weight: 700;
	font-size: 0.8rem;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

a.link::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	border-radius: 3px;
	background-color: var(--color-primary);
	bottom: 0;
	left: 0;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform 0.2s ease-in-out;
}

a.link:hover::before {
	transform-origin: left;
	transform: scaleX(1);
}

*[data-tooltip]::after {
	pointer-events: none;
	content: attr(data-tooltip);
	background-color: #161616;
	position: absolute;
	bottom: -6px;
	right: 50%;
	color: #fff;
	font-size: 0.6rem;
	white-space: nowrap;
	padding: 0.2rem;
	border-radius: 3px;
	opacity: 0;
	transition: opacity 0s;
}

*[data-tooltip]:hover::after {
	opacity: 1;
	transition: opacity 0.2s ease-in 0.4s;
}

/* Disable PDF sroll to top btn */
#topBtn {
	display: none;
}

canvas {
	width: 100%;
}
